# Pandas Exercise

Please follow the following instructions to solve the exercise

**Import pandas**

In [2]:
# Your code here
import pandas as pd

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://i.imgur.com/Ax3pp2A.png)

In [16]:
# Your code here
fruits = pd.DataFrame({'Apples' : [30], 'Bananas' : [21]})
fruits

   Apples  Bananas
0      30       21

   Apples  Bananas
0      30       21

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://i.imgur.com/CHPn7ZF.png)

In [13]:
# Your code here
fruit_sales = pd.DataFrame(data = {'Apples' : [35, 41], 'Bananas' : [21, 34]}, index = ['2017 Sales', '2018 Sales'])
fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

            Apples  Bananas
2017 Sales      30       21
2018 Sales      41       34

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [26]:
# Your code here
ingredients = pd.DataFrame(data = {'Dinner' : ['4 cups', '1 cup', '2 large', '1 can']}, index = ['Flour', 'Milk', 'Eggs', 'Spam'])
ingredients['Dinner']

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object

**Read the auto-mpg data set from the following url** https://raw.githubusercontent.com/curran/data/gh-pages/uci_ml/auto-mpg/auto-mpg.csv

In [27]:
# Your code here
df = pd.read_csv("https://raw.githubusercontent.com/curran/data/gh-pages/uci_ml/auto-mpg/auto-mpg.csv")

**Check the head of the DataFrame**

In [29]:
# Your code here
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,1970,USA,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,1970,USA,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,1970,USA,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,1970,USA,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,1970,USA,ford torino

    mpg  cylinders  displacement  ...  year  origin                       name
0  18.0          8         307.0  ...  1970     USA  chevrolet chevelle malibu
1  15.0          8         350.0  ...  1970     USA          buick skylark 320
2  18.0          8         318.0  ...  1970     USA         plymouth satellite
3  16.0          8         304.0  ...  1970     USA              amc rebel sst
4  17.0          8         302.0  ...  1970     USA                ford torino

[5 rows x 9 columns]

**Use .info() method to find out how many entries there are**

In [30]:
# Your code here
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 27.7+ KB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           392 non-null    float64
 1   cylinders     392 non-null    int64
 2   displacement  392 non-null    float64
 3   horsepower    392 non-null    int64
 4   weight        392 non-null    int64
 5   acceleration  392 non-null    float64
 6   year          392 non-null    int64
 7   origin        392 non-null    object
 8   name          392 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 27.7+ KB

**What is the average horsepower of the auto mobile included?**

In [31]:
# Your code here
df['horsepower'].mean()

104.46938775510205

104.46938775510205

**What is the highest amount of displacement in the dataset?**

In [32]:
# Your code here
df['displacement'].max()

455.0

455.0

**What is the country of origin of "mazda rx2 coupe"? Note: please copy the name exactly**

In [33]:
# Your code here
df[df['name']=='mazda rx2 coupe']['origin']

70    Japan
Name: origin, dtype: object

70    Japan
Name: origin, dtype: object

**What is the name of the auto that has the highest weight in the dataset?**

In [34]:
# Your code here
df[df['weight']==df['weight'].max()]['name']

43    pontiac safari (sw)
Name: name, dtype: object

43    pontiac safari (sw)
Name: name, dtype: object

**What is the average acceleration of the autos per year? Hint: use groupby()**

In [35]:
# Your code here
df.groupby('year')
by_dept=df.groupby('year')
by_dept.mean()['acceleration']

year
1970    12.948276
1971    15.000000
1972    15.125000
1973    14.312500
1974    16.173077
1975    16.050000
1976    15.941176
1977    15.435714
1978    15.805556
1979    15.813793
1980    17.018519
1981    16.325000
1982    16.510000
Name: acceleration, dtype: float64

year
1970    12.948276
1971    15.000000
1972    15.125000
1973    14.312500
1974    16.173077
1975    16.050000
1976    15.941176
1977    15.435714
1978    15.805556
1979    15.813793
1980    17.018519
1981    16.325000
1982    16.510000
Name: acceleration, dtype: float64

**What is the average acceleration of the autos in the year 1982? Hint: use groupby()**

In [36]:
# Your code here
by_dept = df.loc[df['year'] == 1982].groupby('year')
by_dept.mean()['acceleration']

year
1982    16.51
Name: acceleration, dtype: float64

year
1982    16.51
Name: acceleration, dtype: float64

**How many unique origin countries are there in the dataset?**

In [37]:
# Your code here
df['origin'].nunique()

3

3

**What is the name of the heaviest car from Germany in this dataset?**

In [38]:
# Your code here
by_dept = df.loc[df['origin'] == 'Germany']
by_dept.max()['weight']

3820

3820